@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
}

button {
  @apply cursor-pointer disabled:cursor-default disabled:select-none disabled:opacity-75;
}

button:has(.ripple-container) {
  @apply relative;
}
.ripple-container {
  @apply absolute inset-0 overflow-hidden;
}

.ripple-container div {
  position: absolute;
  background: white;
  width: 270px;
  height: 270px;
  filter: blur(24px);
  animation: scaleUp 0.7s ease-out forwards;
  border-radius: 999px;
}

@keyframes scaleUp {
  from {
    opacity: 0.5;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}

@utility hover-active-focus {
  @apply transition-all focus:ring-3 hover:bg-indigo-50 active:bg-indigo-100/50 focus:ring-indigo-200;
}
@keyframes menuIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes menuOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.animate-menuIn {
  animation: menuIn 0.3s cubic-bezier(0.21, 0, 0.13, 0.97) forwards;
}

.animate-menuOut {
  animation: menuOut 0.3s cubic-bezier(0.21, 0, 0.13, 0.97) forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.15s ease forwards;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
